.marketCard {
	transform: scale(1);
	&:hover {
		transform: scale(1.1);
	}
	transition: all 150ms linear;
}

.response-grid-58434 {
	flex-wrap: wrap;
	& > div {
		flex: 1 1 150px;
	}
}

.response-grid-4270 {
	flex-wrap: wrap;
	& > div {
		flex: 1 1 200px;
	}
}

.response-grid-3809 {
	flex-wrap: wrap;
	& > div {
		flex: 1 1 350px;
	}
}

.response-grid-37383 {
	flex-wrap: wrap;
	& > div {
		flex: 1 1 400px;
	}
}

.bottombar-custom {
	position: fixed;
	top: unset;
	bottom: 0px;
	left: 50%;
	transform: scale(1) translate(-50%, 0px);
	z-index: 666;
	max-width: calc(100% - 20px);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	transition: opacity 100ms linear, transform 100ms linear, visibility 100ms linear;

	max-height: calc(100vh - 100px);
	height: auto;
	overflow-y: auto;

	&:not([bottomBarActive]) {
		visibility: hidden;
		opacity: 0%;
		transform: scale(1) translate(-50%, 10px);
	}
}